@font-face {
    font-family: 'CustomFontBold';
    src: url('assets/fonts/PingLCG-Bold.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'CustomFont';
    src: url('assets/fonts/MyriadPro-Regular_2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CustomFontMedium';
    src: url('assets/fonts/PingLCG-Medium.otf') format('opentype');
    
}

@font-face {
    font-family: 'CustomFontRegular';
    src: url('assets/fonts/PingLCG-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
.form-header {
    position: relative;
    background-image: url('assets/backgrounds/4x/Asset 6@4x.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100vh;
    flex-direction: column;
   
    
    /* margin-top: 6%; */
    /* width: 36vh; */
   
    /* margin-left: 15%; */
    position: relative;
    top: 0%;
    height: 100vh;
}
.sub-header{
    position: relative;
    font-family: 'CustomFontBold';
    font-size: 15px;
   }
.detail-header{
    
    line-height: 1.2;
    font-family: 'CustomFontBold', sans-serif;
    padding: 20px;
    font-size: 20px;
    color:rgb(14, 14, 13);
    margin-bottom: 0px;
   }
.submit-button{
    
    position: relative;
    left: 50vh;
    bottom: 25vh;
    transform: translate(-50%);
    cursor: pointer;
}
.form-header-inside{
    clip-path: polygon(5% 0, 100% 0, 100% 53%, 97% 53%, 96% 100%, 0 100%, 0 48%, 4% 48%);
    right: -28vh;
    width: 44vh;
    position: relative;
    top: 14vh;
    height: 66vh;
    background-color: #f0f3f5;
    flex-direction: column;
    display: flex;
}
.form-label-input{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    left: 12vh;
  
}
.form-label-input label{
    
    font-size: 20px;
}.form-label-input input{
    position: relative;
   
    
}

@media only screen and (min-device-width: 711px) and (max-device-width: 1024px){
    .detail-header{
        right: -1vh;
        position: relative;
        top: 3vh;
        font-family: 'CustomFontBold', sans-serif;
        padding: 0;
        font-size: 37px;
        color: rgb(14, 14, 13);
       }
    
    .form-header-inside{
        clip-path: polygon(12% 0, 100% 0, 95% 56%, 91% 56%, 88% 100%, 0 100%, 5% 44%, 9% 44%);
        right: -28vh;
        width: 44vh;
        font-family: 'CustomFontBold', sans-serif;
        position: relative;
        top: 14vh;
        height: 55vh;
        background-color: #d7d7d7e1;
        flex-direction: column;
        display: flex;
    }
    .form-label-input{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
        left: 6vh;
        color:black;
        top:0vh;
      
    }
    .form-label-input label{
        
        font-size: 35px;
    }.form-label-input input{
        color: black;
        background-color: white;
        border: none;
        width:28vh;
        height: 2vh;
    }
    .sub-header{
        color: black;
        top:3vh;
        right:0vh;
        font-family: 'CustomFontMedium';
        font-weight: 700;
        font-size: 21px;
       }
    .name-label{
        position: absolute;
        top:-1vh;
        right:18.5vh;

    }
    .name-input{
        position: relative;
        top:1vh;
    }
    .number-label{
        position: relative;
        top:0.5vh;
        
    }
    
    .number-input{
        position: relative;
        top:0.3vh;
    }
    .email-label{
        position: relative;
        top:-0.3vh;
    }
    .email-input{
        position: relative;
        top:-0.9vh;
    }
    .submit-button {
        position: relative;
        left: 48vh;
        bottom: 36vh;
        transform: translate(-50%);
        cursor: pointer;
      
       
    }
    
   
    img {
        image-rendering: -webkit-optimize-contrast;
      }
 

  
    
} 