@font-face {
  font-family: "CustomFont";
  src: url("assets/fonts/MyriadPro-Regular_2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.form-header {
  background-image: url("assets/backgrounds/4x/Asset 6@4x.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.sub-header {
  font-size: 20px;
  color: #000000;
  margin-top: 8%;
}
.detail-header {
  font-weight: 700;
  padding: 20px;
  font-size: 38px;
  color: rgb(14, 14, 13);
  margin-bottom: 20px;
}
.submit-button {
  position: relative;
  left: 45vh;
  bottom: 29vh;
  transform: translate(-50%);
  outline: none;
  width: 10%;
}

.form-header-inside {
  clip-path: polygon(
    15% 0%,
    100% 0%,
    95% 55%,
    90% 55%,
    85% 95%,
    0% 95%,
    5% 45%,
    10% 45%
  );
  right: -26vh;
  width: 47vh;
  bottom: 3vh;
  position: relative;
  height: 66vh;
  background-color: #d1c8c9;
  flex-direction: column;
  display: flex;
}
.form-label-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  left: 8vh;
}
.form-label-input label {
  font-size: 30px;
  color: #000000;
}
.form-label-input > input {
  width: 60%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .detail-header {
    font-weight: 700;
    padding: 20px;
    font-size: 38px;
    color: rgb(14, 14, 13);
    margin-bottom: 20px;
  }

  .form-header-inside {
    clip-path: polygon(
      5% 0,
      100% 0,
      100% 53%,
      97% 53%,
      96% 100%,
      0 100%,
      0 48%,
      4% 48%
    );
    right: -28vh;
    width: 44vh;
    position: relative;
    top: 14vh;
    height: 66vh;
    background-color: #d1c8c9;
    flex-direction: column;
    display: flex;
  }
  .form-label-input {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    left: 8vh;
  }
  .form-label-input label {
    font-size: 30px;
    color: #000000;
  }
  .form-label-input input {
    /* transform: scale(2); */
    width: 60%;
  }
  .sub-header {
    font-size: 20px;
    color: #000000;
    margin-top: 8%;
  }

  .submit-button {
    position: absolute;
    left: 39vh;
    bottom: 16vh;
    transform: translate(-50%);
    outline: none;
  }
  img {
    image-rendering: -webkit-optimize-contrast;
  }
}
