.image-preview {
  object-fit: cover;
  height: 100vh;
}


.image-container {
  justify-content: center;
  align-items: center;
  height: 100vh;

  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;

}

.button-container img {
  width: auto;
  height: 10vh;
  transition: transform 0.2s ease-in-out;
}

.button-container img:hover {
  transform: scale(1.1);
}




