/* ImagePreview.css */
.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-preview-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.back-button, .share-button, .continue-button {
    padding: 10px 20px;
    font-size: 16px;
}
