@font-face {
  font-family: "CustomFont";
  src: url("assets/fonts/MyriadPro-Regular_2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.popup a {
  color: lightskyblue;
}
.popup-first {
  width: 800px;
}
.pop-first-title {
  font-size: 38px;
  margin: 0px;
}
.pop-second-title {
  font-size: 34px;
  margin: 0px;
}
.pop-third-title {
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.popup-image {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 35%;
}

.popup {
  flex-grow: 1;
  /* display: flex; */
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: white;
  z-index: 1000;
  text-align: center;
  align-items: center;
  width: 80%;
}

.button-container {
  margin-top: 40px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
}

.checkbox-row-one,
.checkbox-row-two {
  display: flex;
  font-size: 30px;
}
.checkbox-row-one input,
.checkbox-row-two input {
  width: 25px;
  height: 25px;
  margin-top: 12px;
  display: inline-block;
  vertical-align: middle;
}

.checkbox-row-one h4,
.checkbox-row-two h4 {
  text-align: left;
  margin-left: 3%;
  margin-top: 0px;
  font-weight: 500;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .popup-first {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-h4-input {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
  }
  .popup-h4-input input {
    width: 50px;
  }

  .popup {
    max-width: 100%;
    max-height: 100%;
    font-size: 18px;
    width: 80%;
  }
  .pop-first-title {
    font-size: 38px;
    margin: 0px;
  }
  .pop-second-title {
    font-size: 34px;
    margin: 0px;
  }
  .popup-input-text {
    text-align: start;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    text-decoration: underline;
  }

  .popup input {
    transform: scale(2);
  }
  .button {
    font-size: 20px;
  }
}
