@font-face {
  font-family: "CustomFont";
  src: url("assets/fonts/MyriadPro-Regular_2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.thankyou-container {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.thankyou-container h1 {
  font-size: 60px;
}

.restart-button {
  width: 20%;
  margin-top: 15%;
}

img .restart-button {
  width: 20vh;
  height: 20vh;
  /*  */
  height: 100%;
  width: 100%;
  outline: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .thankyou-container {
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .restart-button {
    width: 20px;
    margin-top: 10%;
    outline: none;
  }
}
